/* About 1 ---------------------------------- */
.img-box1 {
    position: relative;
    z-index: 2;
    text-align: right;
    width: 100%;
    .img1,
    .img2 {
        img {
            border-radius: 0px;
        }
    }
    .img2 {
        display: inline-block;
        position: relative;
        z-index: 2;
        clip-path: polygon(70% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
    }
    .img1 {
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 1;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .year-counter {
        margin-top: 30px;
        margin-left: auto;
    }
}
@include ml {
    .img-box1 .img1 {
        height: 100%;
        width: 320px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
@include xl {
    .img-box1 .img1 {
        height: 100%;
        width: 250px;
    }
}
@include lg {
    .img-box1 {
        display: inline-block;
        width: auto;
        padding-left: 365px;
        .img1 {
            width: auto;
        }
    }
}
@include sm {
    .img-box1 {
        padding-left: 310px;
    }
}
@include xs {
    .img-box1 {
        padding-left: 200px;
    }
    .img-box1 .img1 {
        width: 180px;
    }
}
@include vxs {
    .img-box1 {
        padding-left: 150px;
        .img1 {
            width: 130px;
        }
    }
}
.year-counter {
    max-width: 270px;
    text-align: center;
    padding: 22px;
    border-radius: 0px;
    background-color: $white-color;
    position: relative;
    z-index: 3;
    &_number {
        font-family: $title-font;
        font-size: 74px;
        font-weight: 700;
        color: $theme-color;
        line-height: 50px;
        margin-bottom: 10px;
        margin-top: 3px;
    }
    &_text {
        font-family: $body-font;
        color: $title-color;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: -0.32em;
        text-transform: uppercase;
        max-width: 113px;
        display: inline-block;
    }
    @include sm {
        .year-counter_number {
            font-size: 64px;
        }
    }
}
.about-feature {
    &-wrap {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 50px;
        margin-bottom: 40px;
        @include sm {
            gap: 20px;
            justify-content: start;
        }
        .box-icon {
            height: 65px;
            width: 65px;
            border-radius: 50%;
            line-height: 62px;
            background: $theme-color;
            flex: none;
            text-align: center;
        }
    } 
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    padding: 0;
    max-width: 244px;
    text-align: left;
    .box-title {
        font-size: 18px;
        line-height: 26px;
        margin-top: -0.34em;
        margin-bottom: -0.34em;
    }
}
.about-wrap1 {
    .about-wrap-content {
        position: relative;
        padding-left: 15px;
        margin-bottom: 31px;
        font-size: 18px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            height: calc(100% - 10px);
            border: 1px dashed $theme-color;
        }
    }
    .about-border-content {
        border: 1px solid $border-color2;
        font-size: 16px;
        font-weight: 600;
        font-family: $title-font;
        color: $title-color;
        padding: 13px 20px;
        margin-bottom: 0;
    }
}
/* About 2 ---------------------------------- */
.img-box2 {
    position: relative;
    z-index: 2;
    padding-bottom: 64px;
    margin-right: 50px;
    .img1 {
        position: relative;
        display: inline-block;
        img {
            border-radius: 0px;
        }
        .year-counter {
            position: absolute;
            right: 0;
            top: 0; 
            padding: 24px 6px 16px;  
            .year-counter_number {
                margin-bottom: 5px;
                font-size: 48px;
                margin-top: -6px;
            }
            .year-counter_text {
                color: $white-color;
                text-transform: capitalize;
            }        
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background: $white-color;
            height: 162px;
            width: 145px;
            z-index: 1;
        } 
    }
    .img2 {
        position: absolute;
        bottom: -5px;
        right: 0;
        img {
            border-radius: 0px;
        }
    }
    .shape1 {
        position: absolute;
        top: 60px;
        right: 14px;
        animation: jumpAni 5s linear infinite;
    }
    .about-since-wrap {
        position: absolute;
        top: 231px;
        left: -242px;
        .about-since {
            font-size: 74px;
            font-weight: 700;
            font-family: $title-font;
            color: transparent;
            -webkit-text-stroke: 1px $theme-color;
            transform: rotate(-90deg);        
        }
    }    
}
.about-feature-wrap2 {
    .about-feature {
        max-width: none;
        gap: 20px;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        .box-icon {
            flex: none;
        }
        .about-feature-content {
            .box-title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .about-feature-text {
                margin-bottom: -0.3em;
            }
        }
    }
}
@include xxl {
    .img-box2 {
        margin-right: 30px;
        margin-left: 30px;
    }
}
@include ml {
    .img-box2 {
        margin-right: 10px;
        margin-left: 50px;
    }
}
@include xl {
    .img-box2 {
        margin-left: 85px;
    }
}
@include lg {
    .img-box2 {
        display: inline-block;
        margin-right: 0;
        margin-left: 90px;
        padding-right: 155px;
    }
}
@include sm {
    .img-box2 {
        margin-right: 0;
        margin-left: 62px;
        padding-right: 50px;
    }
    .img-box2 .about-since-wrap {
        top: 180px;
        left: -180px;
        .about-since {
            font-size: 54px;
        }
    }
}
@include xs {
    .img-box2 {
        margin-right: 0;
        margin-left: 62px;
        padding-right: 0;
        padding-bottom: 150px;
    }
    .about-feature-wrap2 .about-feature {
        display: block;
        .box-icon {
            margin-bottom: 20px;
        }
    }
}
@include vxs {
    .img-box2 {
        padding-bottom: 220px;
    }
}
/* About 3 ---------------------------------- */
.img-box3 {
    position: relative;
    display: inline-block;
    padding-right: 117px;
    .img1 {
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        &:after {
            content: '';
            position: absolute;
            border: 3px solid $theme-color;
            inset: 0 105px 0px -24px;
            z-index: -1;
        }
    }
    .img2 {
        position: absolute;
        right: 0;
        border: 4px solid $white-color;
        border-right: 0;
        display: inline-block;
        z-index: 1;
        top: 100px;
        transform: translate(0, -50%);
    }
}
.about-checklist-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: $smoke-color2;
    padding: 30px;
}
@include ml {
    .img-box3 {
        padding-left: 24px;
    }
}
@include xl {
    .img-box3 {
        padding-right: 57px;
    }
}
@include lg {
    .img-box3 {
        padding-right: 127px;
    }
}
@include sm {
    .img-box3 {
        padding-right: 40px;
    }
    .about-checklist-wrap {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}
@include xs {
    .img-box3 {
        .img1 {
            margin-bottom: 120px;
        }
        .img2 {
            top: auto;
            bottom: 0px;
            animation: none;
            transform: none;
        }
    }
}
@include vxs {
    .img-box3 .img2 {
        margin-left: 100px;
    }
}

/* About 4 ---------------------------------- */
.img-box4 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    .img2 {
        position: absolute;
        right: 22px;
        top: 0;
        z-index: -1;
    }
}
.year-counter.style2 {
    padding: 25px;
    background: $smoke-color2;
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: start;
    .icon {
        flex: none;
    }
    .year-counter_number {
        font-size: 48px;
        font-weight: 700;
        color: $title-color;
        margin: 0;
        line-height: 1;
    }
    .year-counter_text {
        font-size: 18px;
        font-weight: 400;
        color: $body-color;
        text-transform: capitalize;
    }
}
.about-grid.style2 {
    display: flex;
    gap: 25px;
    align-items: center;
    .about-grid_thumb {
        flex: none;
    }
    .about-grid_number {
        font-size: 18px;
        font-weight: 600;
        font-family: $title-font;
        color: $title-color;
        margin-bottom: 0;
    }
    .about-grid_text {
        font-size: 14px;
        font-weight: 400;
        color: $theme-color;
        margin-bottom: 0;
    }
}

/* About 5 ---------------------------------- */
.img-box5 {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    padding-right: 100px;
    .year-counter {
        background: $theme-color2;
        display: inline-flex;
        align-items: center;
        gap: 15px;
        max-width: none;
        padding: 4px 23px;
        position: absolute;
        left: 0;
        top: 80px;
        &:after {
            content: '';
            position: absolute;
            width: 50px;
            height: 38px;
            border-top: solid 19px #081286;
            border-right: solid 25px #081286;
            border-left: solid 25px transparent;
            border-bottom: solid 19px transparent;
            left: 0;
            bottom: 0;
            transform: translate(0, 100%);
        }
        .year-counter_number {
            font-size: 36px;
            font-weight: 700;
            color: $white-color;
            margin: 0;
        }
        .year-counter_text {
            max-width: none;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            color: $white-color;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }
    .img2 {
        display: inline-block;
        position: absolute;
        border: 5px solid $white-color;
        right: 0;
        bottom: 60px;
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba($color: #3843C1, $alpha: 0.7);
        }
        .play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    @include xs {
        padding-right: 0;
        padding-left: 0;
        .img2 {
            position: relative;
            width: 100%;
            animation: none !important;
            margin-top: 20px;
            bottom: 0;
            border: 0;
            img {
                width: 100%;
            }
        }
        .year-counter {
            left: -15px;
            &:after {
                width: 15px;
                height: 15px;
                border-top: solid 7.5px #081286;
                border-right: solid 7.5px #081286;
                border-left: solid 7.5px transparent;
                border-bottom: solid 7.5px transparent;
            }
        }
    }
}
.about-wrap5 {
    .about-checklist-wrap {
        padding: 0;
        border-bottom: 1px solid #B7B7B7;
        padding-bottom: 40px;
        gap: 8px;
        .checklist {
            border-left: 1px solid #B7B7B7;
            padding-left: 70px;
            &:first-child {
                border-left: 0;
                padding-left: 0;
            }
            @include xl {
                padding-left: 0;
                border-left: 0;
            }
        }
        .checklist li {
            gap: 6px;
            font-family: $title-font;
            font-weight: 600;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    .btn-wrap {
        gap: 20px 40px;
    }
}

/* About 6 ---------------------------------- */
.about-experience-tag {
    background: $white-color;
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index: 1;
    font-size: 13px;
    font-weight: 600;
    font-family: $title-font;
    color: $title-color;
    line-height: 12px;
    text-align: center;
    animation: spin 10s infinite alternate-reverse;
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: transparent;
        border: 2px solid $theme-color;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
    span {
        --rotate-letter: 8.5deg;
        height: 53px;
        position: absolute;
        width: 20px;
        left: 36%;
        top: 3%;
        transform-origin: bottom center;
        transform: rotate(var(--rotate-letter));
        &.char2 {
            transform: rotate(calc(var(--rotate-letter) * 2));
        }
        &.char3 {
            transform: rotate(calc(var(--rotate-letter) * 3));
        }
        &.char4 {
            transform: rotate(calc(var(--rotate-letter) * 4));
        }
        &.char5 {
            transform: rotate(calc(var(--rotate-letter) * 5));
        }
        &.char6 {
            transform: rotate(calc(var(--rotate-letter) * 6));
        }
        &.char7 {
            transform: rotate(calc(var(--rotate-letter) * 7));
        }
        &.char8 {
            transform: rotate(calc(var(--rotate-letter) * 8));
        }
        &.char9 {
            transform: rotate(calc(var(--rotate-letter) * 9));
        }
        &.char10 {
            transform: rotate(calc(var(--rotate-letter) * 10));
        }
        &.char11 {
            transform: rotate(calc(var(--rotate-letter) * 11));
        }
        &.char12 {
            transform: rotate(calc(var(--rotate-letter) * 12));
        }
        &.char13 {
            transform: rotate(calc(var(--rotate-letter) * 13));
        }
        &.char14 {
            transform: rotate(calc(var(--rotate-letter) * 14));
        }
        &.char15 {
            transform: rotate(calc(var(--rotate-letter) * 15));
        }
        &.char16 {
            transform: rotate(calc(var(--rotate-letter) * 16));
        }
        &.char17 {
            transform: rotate(calc(var(--rotate-letter) * 17));
        }
        &.char18 {
            transform: rotate(calc(var(--rotate-letter) * 18));
        }
        &.char19 {
            transform: rotate(calc(var(--rotate-letter) * 19));
        }
        &.char20 {
            transform: rotate(calc(var(--rotate-letter) * 20));
        }
        &.char21 {
            transform: rotate(calc(var(--rotate-letter) * 21));
        }
        &.char22 {
            transform: rotate(calc(var(--rotate-letter) * 22));
        }   
        &.char23 {
            transform: rotate(calc(var(--rotate-letter) * 23));
        }            
        &.char24 {
            transform: rotate(calc(var(--rotate-letter) * 24));
        }  
        &.char25 {
            transform: rotate(calc(var(--rotate-letter) * 25));
        }    
        &.char26 {
            transform: rotate(calc(var(--rotate-letter) * 26));
        }   
        &.char27 {
            transform: rotate(calc(var(--rotate-letter) * 27));
        }   
        &.char28 {
            transform: rotate(calc(var(--rotate-letter) * 28));
        }   
        &.char29 {
            transform: rotate(calc(var(--rotate-letter) * 29));
        }   
        &.char30 {
            transform: rotate(calc(var(--rotate-letter) * 30));
        }   
        &.char31 {
            transform: rotate(calc(var(--rotate-letter) * 31));
        }
        &.char32 {
            transform: rotate(calc(var(--rotate-letter) * 32));
        } 
        &.char33 {
            transform: rotate(calc(var(--rotate-letter) * 33));
        }  
        &.char34 {
            transform: rotate(calc(var(--rotate-letter) * 34));
        } 
        &.char35 {
            transform: rotate(calc(var(--rotate-letter) * 35));
        } 
        &.char36 {
            transform: rotate(calc(var(--rotate-letter) * 36));
        } 
        &.char37 {
            transform: rotate(calc(var(--rotate-letter) * 37));
        } 
        &.char38 {
            transform: rotate(calc(var(--rotate-letter) * 38));
        }   
        &.char39 {
            transform: rotate(calc(var(--rotate-letter) * 39));
        } 
        &.char40 {
            transform: rotate(calc(var(--rotate-letter) * 40));
        }  
        &.char41 {
            transform: rotate(calc(var(--rotate-letter) * 41));
        }  
    }
}
.img-box6 {
    position: relative;
    display: inline-block;
    padding-right: 210px;
    .about-tag {
        position: absolute;
        left: -40px;
        top: -60px;
        display: inline-block;
        overflow: hidden;
        height: 120px;
        z-index: 1;
        .about-tag-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .img1 {
        position: relative;
        padding-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            inset: 0 0 0px -20px;
            background: #D8DBFF;
            z-index: -1;
        }
    }
    .img2 {
        position: absolute;
        right: 0;
        top: 0;
        border: 20px solid $white-color;
        border-top: 0;
        border-right: 0;
    }   
    .year-counter {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: none;
        padding: 40px;
        .year-counter_text {
            max-width: none;
            font-size: 18px;
            font-weight: 400;
            display: block;
        }
    }
}
@include xl {
    .img-box6 .about-tag {
        left: -20px;
    }
    .img-box6 {
        .img1 {
            img {
                height: 530px;
                object-fit: cover;
            }
        }
        .img2 {
            img {
                height: 366px;
                object-fit: cover;
            }
        }
    }
}
@include md {
    .img-box6 .about-tag {
        top: -40px;
    }
}
@include xs {
    .img-box6 {
        padding-right: 0;
        .about-tag {
            left: 0;
        }
        .img1 {
            margin-left: 20px;
        }
        .img2 {
            position: initial;
            border: 0;
            border-top: 20px solid $white-color;
            img {
                width: 100%;
            }
        }
    }
}

/* About 7 ---------------------------------- */
.img-box7 {
    .img1 {
        position: relative;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .counter-wrap {
        display: flex;
        gap: 30px;
        .year-counter {
            max-width: none;
            width: 50%;
            background: $border-color2;
            padding: 20px;
            .year-counter_number {
                color: $theme-color2;
                font-size: 50px;
                font-weight: 700;
            }
            .year-counter_text {
                max-width: none;
            }
        }
        @include vxs {
            flex-wrap: wrap;
            .year-counter {
                width: 100%;
            }
        }
    }
}

/* About 8 ---------------------------------- */
.about-wrap8 {
    .about-quote-wrap {
        background: $smoke-color2;
        padding: 30px 20px 20px;
        text-align: center;
        position: relative;
        p {
            font-family: $title-font;
            color: $title-color;
            font-size: 16px;
            font-weight: 600;
            margin-top: -0.4em;
            margin-bottom: 13px;
        }
        cite {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
        }
        .quote-icon {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 31px;
            &.quote-left {
                transform: rotateY(180deg);
                right: auto;
                left: 20px;
            }
        }
    }
}
.img-box8 {
    position: relative;
    .year-counter {
        position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        padding: 20px;
        .year-counter_number {
            margin-bottom: 15px;
        }
        .year-counter_text {
            max-width: none;
            text-transform: capitalize;
            font-size: 14px;
        }
        @include xs {
            display: none;
        }
    }
}