
/* Contact Page ---------------------------------- */ 
.contact-feature {
    padding: 30px;
    border-radius: 0px;
    border: 1px solid $border-color2;
    display: flex;
    align-items: center;
    gap: 15px;
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    @media (max-width: 1300px) and (min-width: 1200px) {
        padding: 14px 10px 14px 14px;
    }
    .box-icon {
        @include equal-size-lineHeight(40px);
        font-size: 18px;
        color: $white-color;
        background-color: $theme-color;
        border-radius: 50%;
        text-align: center;
    }
    .box-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
        @include lg {
            font-size: 22px;
        }
    }
    .box-text {
        line-height: 24px;
        a {
            max-width: fit-content;
            color: inherit;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .th-social {
        a {
            --icon-size: 40px;
            border-radius: 10px;
            &:not(:hover) {
                color: $title-color;
            }
            @include xl {
                &:not(:last-child) {
                    margin-right: 3px;
                }
            }
        }
    }
}
.contact-form-v1 {
    padding: 60px;
    margin-right: 36px;
    @include lg {
        margin-right: 0;
        margin-top: 50px;
    }
    @include sm {
        padding: 40px;
    }
    @include xs {
        padding: 30px;
    }
}
.rounded-20 {
    border-radius: 20px;
    overflow: hidden;
}
.form-text {
    font-size: 16px;
}
.contact-map {
    line-height: 0px;
    max-width: 1520px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    iframe {
        width: 100%;
        height: 670px;
        border-radius: 30px;
        @include lg {
            height: 400px;
        }
        @include md {
            height: 350px;
            border-radius: 20px;
        }
    }
    &.style2 {
        max-width: 100%;
        padding: 0;
        margin-bottom: -110px;
        iframe {
            border-radius: 0;
        }
        @include sm {
            margin-bottom: -220px;
            iframe {
                height: 600px;
            }
        }
    }
}

/* Contact 2 ---------------------------------- */ 
.contact-form-v2 {
    padding: 60px;
    @include sm {
        padding: 40px;
    }
    @include xs {
        padding: 30px;
    }
    .title {
        margin-bottom: 50px;
        @include md {
            margin-bottom: 40px;
        }
        @include sm {
            margin-bottom: 30px;
        }
    }
}

/* Contact 3 ---------------------------------- */ 
.contact-feature2 {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    .box-title {
        font-size: 18px;
        font-weight: 600;
    }
    .box-text {
        a {
            color: $white-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
}
.contact-form-wrap3 {
    display: flex;
    gap: 60px;
    align-items: center;
    .contact-feature-wrap {
        flex: none;
        position: relative;
        padding-left: 60px;
        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: calc(100% - 40px);
            left: 0;
            top: 20px;
            background: rgba($color: #ffffff, $alpha: 0.2);
        }
    }
    @include sm {
        flex-wrap: wrap;
        .contact-feature-wrap {
            padding-left: 0;
            &:after {
                display: none;
            }
        }
    }
}
.contact-form-v3 {
    padding: 60px;
    .form-group {
        textarea,
        input {
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
            &::placeholder {
                color: #B7B7B7;
            }
        }
    }
    @include xs {
        padding: 40px;
    }
}
.contact-map2 {
    line-height: 0px;
    max-width: 1520px;
    margin: 0 auto;
    iframe {
        width: 100%;
        height: 616px;
        border: 10px solid $white-color;
        border-radius: 0px;
        @include lg {
            height: 400px;
        }
        @include md {
            height: 350px;
        }
    }
}

/* Contact 4 ---------------------------------- */ 
.contact-wrap-4 {
    background: $white-color;
    border: 1px solid #B7B7B7;
    padding: 40px;
    .contact-title-wrap {
        padding: 40px;
        position: relative;
        z-index: 1;
        &:before {
            z-index: -1;
        }
    }
    .cta-link {
        background: $white-color;
        padding: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .cta-link-icon {
            border-right: 1px solid #B7B7B7;
            padding-right: 30px;
            margin-right: 30px;
            flex: none;
        }
        p {
            font-size: 20px;
            font-weight: 600;
            font-family: $title-font;
            color: $title-color;
            margin-bottom: 3px;
        }
        .cta-single-link {
            font-size: 18px;
            font-weight: 600;
            color: $body-color;

        }
        @include xl {
            padding: 20px;
        }
        @include xs {
            gap: 20px;
            .cta-link-icon {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }
    }
    textarea.form-control, textarea {
        min-height: 255px;
    }
    @include xs {
        padding: 20px;
        .contact-title-wrap {
            padding: 30px;
        }
    }
}